
#chart-1 {
    width: 100%;
    min-height: 30px;
}

#chart-1 {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#chart-1.is-fixed {
    position: fixed;
}

#chart-1.is-bottom {
    bottom: 0;
    top: auto;
}

#text-container {
    padding: 0 1rem;
    max-width: 30rem;
}

.step {
    opacity: 0;
    padding: 1rem;
    transition: opacity .2sec;
}

.step.is-active {
    opacity: 1;
}